

[train]
gamma=0.99
buffer_maxlen = 100000
learn_rate=3e-4
episodes = 10000
batch_size = 512



[SAC]
tau=0.005
alpha=0.05
taget_update+interval=1
hidden_dim=256


[env]
state_dim=11
action_dim=9
sample_T=0.20
sample_number=150
max_error=0.5
pidpara_min=0
pidpara_max=5



[agent]
wheel_r=0.025
v_max=1
v_min=0.1

car_radius=0.15
width=0.155
length=0.21
init_yaw=1.5707
init_pos_x=0
init_pos_y=-0.1
